section.experience {
  padding: 5rem 0 1rem 0 !important;
  background-color: var(--dark-grey);
}
.experience .row {
  margin-bottom: 0 !important;
}
.experience-img {
  width: 80%;
}
.experience-header h4 {
  font-size: 32px;
}
.experience-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.experience-title {
  display: flex;
}
.experience-title p {
  padding: 0.2rem 0.5rem !important;
  color: var(--main-white) !important;
  border: solid 1px var(--main-white);
  border-radius: 4px;
  margin: 0 !important;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500px;
}
.experience-detail {
  margin: 3rem 0;
}
.experience-detail p {
  margin: 0;
  color: var(--main-white);
}

@media (min-width: 601px) {
  .share-img-container {
    padding: 0rem 0 3rem 0;
  }
  .share-img-container img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .experience-img {
    width: 100%;
  }
  .experience-header h4 {
    font-size: 24px;
  }
  .experience-text {
    padding: 20px 0 0 0;
  }
  .experience-detail {
    margin: 2rem 0 1rem 0;
  }
  .share-img-container {
    padding: 2rem 0 3rem 0;
    /* display: flex;
    justify-content: center;
    align-content: center;
    text-align: center; */
  }
  .share-img-container img {
    width: 100%;
  }
}
