/* LATO FONT */
@font-face {
  font-family: "lato";
  src: local("lato"), url("./fonts/lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "lato-bold";
  src: local("lato"), url("./fonts/lato/Lato-Bold.ttf") format("truetype");
}
/* INTER FONT */
@font-face {
  font-family: "inter";
  src: local("inter"), url("./fonts/inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "inter-bold";
  src: local("inter"), url("./fonts/inter/Inter-Bold.ttf") format("truetype");
}
:root {
  --primary-color: #ff5c00;
  --vasiti-black: #25201d;
  --main-grey: #e5e5e5;
  --dark-green: #049a01;
  --light-green: #f0ffee;
  --dark-grey: #494949;
  --main-white: #fff;
  --main-black: #222;
  --dark-blue: #0d019a;
  --light-blue: #eef8ff;
  --main-spacing: 0.2rem;
  --line-height: 1.4;
  --medium-font: 5.5rem;
  --main-shadow: 1px 4px 4px rgba(0, 0, 0, 0.04);

  --font: "inter", sans-serif;
  --font-bold: "inter-bold", sans-serif;

  --sec-font: "lato", sans-serif;
  --sec-font-bold: "lato-bold", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--vasiti-black);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(6, 31, 53, 0.7);
}

body {
  font-family: var(--font);
  background: var(--mainWhite);
  overflow-x: hidden;
  color: var(--mainBlack);
  height: auto;
  min-height: 100vh;
  width: 100%;
  /* font-size: 1.6rem; */
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-bold);
  letter-spacing: -2px;
}

.s5ths,
.m5ths,
.l5ths,
.xl5ths {
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s5ths {
  width: 20% !important;
}
@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: 20% !important;
  }
}
@media only screen and (min-width: 993px) {
  .row .col.l5ths {
    width: 20% !important;
  }
}
@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: 20% !important;
  }
}

.pad0 {
  padding: 0 !important;
}
.hidden {
  display: none;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.text-justify {
  text-align: justify;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.hidden-xs {
  display: block;
}
.visible-xs {
  display: none;
}
.flex-div {
  display: flex;
}
.mag-0 {
  margin: 0 !important;
}
.mag-bottom-0 {
  margin-bottom: 0 !important;
}
.mag-top-0 {
  margin-top: 0 !important;
}
.fg-1 {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.center-sm {
  text-align: center;
}

@media (min-width: 993px) {
  .container {
    width: 80% !important;
  }
}
@media (max-width: 992px) {
  .btn-full-width {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }
  .btn-full-width {
    width: 100%;
  }
}
